*, *::before, *::after {
  box-sizing: border-box;
}

html {
  // background-color: red !important;
}

body {
  font-family: $system-type;
  line-height: $base-line-height;
  color: #646464;

  @media(min-width: 480px) {
    font-size: 1.125em;
  }
}

main {
  @extend %content-column;
}

hr {
  margin-top: $spacing-unit-v * 4;
}
