*, *::before, *::after {
  box-sizing: border-box;
}

html {
  // background-color: red !important;

}

body {
  font-family: $system-type;
  line-height: $base-line-height;
}

main {
  width: 90%;
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
}

hr {
  margin-top: $spacing-unit-v * 4;
}
