.button, %button {
  display: inline-flex;
  align-items: center;
  height: 56px;
  padding: 0 16px;
  border-radius: 28px;
  color: #333;
  background-color: white;
  text-decoration: none;

  &:active, &:visited {
    color: #333;
    text-decoration: none;
  }
}

.button-icon {
  @extend %button;
  min-width: 56px;
  padding-left: 56px;
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: 14px 14px;

  &.social--email {
    background-image: url(/assets/images/social/icon-email.svg);
  }

  &.social--linkedin {
    background-image: url(/assets/images/social/icon-linkedin.svg);
  }

  &.social--angellist {
    background-image: url(/assets/images/social/icon-angellist.svg);
  }

  &.social--vsco {
    background-image: url(/assets/images/social/icon-vsco.svg);
  }
}

a.social {
  // display: block;
  @extend %button;
  min-width: 56px;
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: center;

  &.social--email {
    background-image: url(/assets/images/social/icon-email.svg);
  }

  &.social--linkedin {
    background-image: url(/assets/images/social/icon-linkedin.svg);
  }

  &.social--angellist {
    background-image: url(/assets/images/social/icon-angellist.svg);
  }

  &.social--vsco {
    background-image: url(/assets/images/social/icon-vsco.svg);
  }
}

.button-set {
  ul {
    display: flex;
    @extend %list-simple;
  }

  li {
    margin-right: $spacing-unit-h / 2;

    &:nth-child(n+2) {
      margin-top: 0;
    }
  }
}