figure {
  @extend %clearfix;
  margin-left: auto;
  margin-right: auto;
  margin-top: $spacing-unit-v * 4;
}
img {
  @extend %clearfix;
  display: block;
  width: auto;
  max-width: 100%;
}
figcaption {
  display: block;
  text-align: center;
  font-size: .9rem;
  line-height: 1.4;
  opacity: .6;
}
