figure, object {
  @extend %clearfix;
  margin-left: auto;
  margin-right: auto;
  margin-top: $spacing-unit-v * 4;
  margin-bottom: $spacing-unit-v * 4;

  &.p-0 img {
    padding: 0;
    background-color: #fbfaf8; // #f1f1f1;
  }
}

img {
  @extend %clearfix;
  display: block;
  width: auto;
  max-width: 100%;
  // padding: 6vw;
  background-color: #fbfaf8; // whitesmoke;
}

p > img {
  margin-top: $spacing-unit-v * 4;
  margin-bottom: $spacing-unit-v * 4;
}

figcaption {
  display: block;
  margin-bottom: $spacing-unit-v;
  text-align: center;
  font-size: $font-scale-7;
  line-height: 1.4;
  letter-spacing: .01rem;
  opacity: .7;

  > *:only-child {
    margin-bottom: 0;
  }
}

figure.large {
  width: $width-bleed-1;
  max-width: none; // 96rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media(min-width: 1680px) {
    width: $width-bleed-2;
  }

  img {
    display: inline-block;
  }

  figcaption {
    // @extend %clearfix;
    @extend %content-column-width;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -2vw;
    // text-align: left;
  }
}

figure.fullbleed {
  width: 100vw;
  max-width: none;
  margin: 8vw 0;
  padding: 6vw;
  background-color: #fbfaf8;

  & + .fullbleed {
    margin-top: -4vw;
  }

  img {
    display: block;
    width: 100%;
    max-width: 64rem;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
  }

  figcaption {
    // @extend %clearfix;
    @extend %content-column-width;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -2vw;
    margin-top: $spacing-unit-h * 2;
    text-align: center;
  }
}

figure.full {
  img, object {
    padding: 0;
  }
}

figure.outlined {
  img {
    outline: 1px solid #f2f2f2;
    outline-offset: -1px;
    padding: 0;
  }
}

figure{
  &.bg-default {
    background-color: #fbfaf8 !important;
  }

  &.bg-fff {
    background-color: #fff;
  }

  &.bg-333 {
    background-color: #333;
    
    figcaption {
      color: rgba(white, .7);
    }
  }

  &.mono img {
    filter: saturate(0);
  }
}

.tempo-automation figure {
  background-color: #EAEFF0;
}
