@font-face {
  font-family: 'Financier Display';
  src:
    url('fonts/Financier_Display_Black.woff2');
  font-weight: 800;
}
@font-face {
  font-family: 'National 2';
  src:
    url('fonts/National_2_Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'National 2';
  src:
    url('fonts/National_2_Regular_Italic.woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'National 2';
  src:
    url('fonts/National_2_Medium.woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'National 2';
  src:
    url('fonts/National_2_Medium_Italic.woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'National 2';
  src:
    url('fonts/National_2_Bold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'National 2';
  src:
    url('fonts/National_2_Bold_Italic.woff2');
  font-weight: 700;
  font-style: italic;
}
