header.global .inner {
  @extend %content-column-width;
  @extend %clearfix;
  margin-top: 2 * $spacing-unit-v;

  a {
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;

    &:hover {
      text-decoration: underline; 
    }

    &:first-of-type {
      margin-left: 0;
    }
      
    &:last-of-type {
      margin-right: 0;
    }
  }
}
