header.global {
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: auto;
  background-color: rgba(#171717, .9);

  .inner {
    @extend %content-column-width;
    @extend %clearfix;
    margin: 2 * $spacing-unit-v auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
  }

  a {
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
    

    &:hover {
      text-decoration: underline; 
    }

    &:first-of-type {
      margin-left: 0;
    }
      
    &:last-of-type {
      margin-right: 0;
    }
  }

  .pull-right {
    flex: 1 0 auto;
    justify-content: flex-end;
    display: flex;
  }

  .site-title {
    flex: 0 1 auto;
  }
}
