$gradient-list: (
  (grad1, #3a2d4e, #dd9759, #4e2fa7, #e1969f),
  (grad2, #a0c4e1, #d16e47, #738547, #74a6ce),
  (grad3, #bf95e4, #22246d, #3086ed, #d2bcaa),
  (grad4, #a68c7f, #4a2c38, #6f7998, #d3cdf3)
);

.home {
  // font-family: $system-type !important;
  background-color: #171717;

  h1, h2, h3, h4, h5, h6 {
    color: white;
  }

  header.global {
    // padding: $spacing-unit-v;
    // background-color: black;
    // margin-top: 0;
    // position: sticky;
    // top: 0;

    // padding-top: $spacing-unit-v / 4;

    .inner {
      display: flex;
      // align-content: flex-start;
      justify-content: space-between;
      margin-top: 0;
      padding-top: $spacing-unit-v;
      max-width: 72rem;
    }
    
    a {
      color: white;
    }

    .site-title {
      flex: 0 1 auto;
    }
  }

  main {
    width: 90%;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 4vh 4vw;

    @media (min-width: 480px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }
    // grid-column: 1 / 4;

  }

  section.description {
    // grid-column: 1 / 4;
    min-height: 70vh;
    margin-top: $spacing-unit-v;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (min-width: 480px) {
      // grid-column: 1 / 2;
    }

    @media (min-width: 1024px) {
      grid-column: 1 / 4;
      min-height: 80vh;
      // margin-top: 0;
    }

    h1 {
      margin-bottom: 0;
    }
  }

  section.social {
    // grid-column: 4 / 5;

    @media (min-width: 480px) {
      // grid-column: 2 / 3;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
    }

    @media (min-width: 1024px) {
      grid-column: 4 / 5;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      margin-top: 0;
    }

    li {
      display: inline-block;
      margin-right: 4vw;
      margin-top: 0;

      @media (min-width: 480px) {
        display: block;
        margin-top: 1rem;
        margin-right: 0;

        &:nth-child(n+2) {
          margin-top: 1rem;
        }
      }
    }
  }
}

a.social {
  display: block;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: center;

  &.social--email {
    background-image: url(/assets/images/social/icon-email.svg);
  }

  &.social--linkedin {
    background-image: url(/assets/images/social/icon-linkedin.svg);
  }

  &.social--angellist {
    background-image: url(/assets/images/social/icon-angellist.svg);
  }

  &.social--vsco {
    background-image: url(/assets/images/social/icon-vsco.svg);
  }
}

.pull-right {
  // align-self: flex-end;
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
}
