ul, ol {
  padding-left: 1rem;
}
dl, dd {
  margin-left: 0;
}
dt {
  font-weight: 700;
  &:nth-child(n+2) {
    margin-top: $spacing-unit;
  }
}
.list-simple {
  list-style: none;
  padding-left: 0;
}
.list-project {
  @extend .list-simple;
  li {
    @extend %clearfix;
    margin-top: $spacing-unit-v * 2;
  }
  .project-client {
    @extend %h3;
    margin-top: 0;
    margin-bottom: 0;
    & + * {
      margin-top: 0;
    }
  }
}
