.list-simple {
  list-style: none;
  padding-left: 0;
}

.list-project {
  @extend .list-simple;
  li {
    @extend %clearfix;
    margin-top: $spacing-unit-v * 2;
  }
  .project-client {
    margin-top: 0;
  }
}
