ul, ol {
  padding-left: 2rem;
}

li:nth-child(n+2) {
  margin-top: .75rem;
}

dl, dd {
  margin-left: 0;
}

dt {
  font-weight: 700;

  &:nth-child(n+2) {
    margin-top: $spacing-unit;
  }
}

ul.list-simple, %list-simple {
  list-style: none;
  padding-left: 0;
}

ul.list-trend {
  list-style: none;

  li {
    position: relative;
  }

  .trend-up::before, .trend-down::before {
    position: absolute;
    left: -24px;
    color: #333;
    font-weight: 700;
  }

  .trend-up::before {
    content:'↗';
  }

  .trend-down::before {
    content:'↘';
  }
}

ul.list-tags {
  padding-left: 0;
  list-style: none;
  font-size: $font-scale-7;

  li {
    display: inline-block;
    margin-top: $spacing-unit;
    margin-right: $spacing-unit / 4;
    padding: 4px 16px;
    border-radius: 48px;
    color: #088644;
    background-color: #e6f3ec;
    border: 2px solid #e6f3ec;
  }

  li.tool {
    color: #646464;
    background-color: white;
    border: 2px solid rgba(#646464, .25);
  }

}

ul.list-project {
  @extend .list-simple;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: ($spacing-unit-v * 2) ($spacing-unit-h * 2);
  

  @media(min-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  li {
    @extend %clearfix;
    margin-top: $spacing-unit-v * 2;
    position: relative;

    @each $project-name,$project-color-1,$project-color-2,$project-color-3,$project-color-4 in $project-colors {

      &.#{$project-name} {

        &::before {
          border-radius: 4px;
          background-image:
            // linear-gradient(rgba($project-color-1, .2) 20%,$project-color-1 80%),
            url(/assets/images/#{$project-name}/hero-thumb.jpg);
          background-image:
            // linear-gradient(
              // rgba($project-color-1, .2) 20%,$project-color-1 80%),
            -webkit-image-set(
              url(/assets/images/#{$project-name}/hero-thumb.webp) 1x,   url(/assets/images/#{$project-name}/hero-thumb@2x.webp) 2x,
              url(/assets/images/#{$project-name}/hero-thumb.jpg) 1x,   url(/assets/images/#{$project-name}/hero-thumb@2x.jpg) 2x);
          background-image:
            // linear-gradient(
              // rgba($project-color-1, .2) 20%,$project-color-1 80%),
            image-set(
              url(/assets/images/#{$project-name}/hero-thumb.jpg) 1x,   url(/assets/images/#{$project-name}/hero-thumb@2x.jpg) 2x,
              url(/assets/images/#{$project-name}/hero-thumb.webp) 1x,   url(/assets/images/#{$project-name}/hero-thumb@2x.webp) 2x);
            //   linear-gradient($project-color-1,$project-color-1);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        &::before {
          content: '';
          display: block;
          width: 100%;
          min-height: 14 * $spacing-unit-v;
          margin-bottom: $spacing-unit * 2;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media(min-width: 480px) {

      &:first-of-type {
        grid-column: 1 / 3;
      }
    }

    @media(min-width: 1024px) {

      &:first-of-type {
        display: grid;
        grid-column: 1 / 4;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: ($spacing-unit-v * 2) ($spacing-unit-h * 2);
        align-items: center;

        &::before {
          grid-column: 1 / 3
        }

        .project-metdata {
          grid-column: 3 / 4;
        }
      }
    }

    .project-link {
      color: #FBFAF8;
      text-decoration: none;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;

      &:hover + .project-metadata h2 {
        text-decoration: underline;
      }
    }
  }

  a {
    text-decoration: none;
  }

  hr {
    margin-bottom: $spacing-unit;
  }

  .project-client {
    @extend %h3;
    margin-top: 0;
    margin-bottom: 0;

    & + * {
      margin-top: 0;
    }
  }
}
