

.project-list {
  @extend %theme-dark;
  position: relative;

  header .inner,
  main > * {
    @extend %column-width-wide;
  }

  .project-client {
    color: rgba(#fbfaf8, .6);
  }

  .project-description {
    color: rgba(#fbfaf8, .4);
  }

  .list-project {
    margin-top: $spacing-unit * 4;

    .project-link {
      color: #FBFAF8;
      text-decoration: none;

      &:hover + .project-metadata h2 {
        text-decoration: underline;
      }
    }

    h2 {
      font-family: $display-type;
    }

    li {
      position: relative;
      margin-top: $spacing-unit;

      @each $project-name,$project-color-1,$project-color-2,$project-color-3,$project-color-4 in $project-colors {

        &.#{$project-name} {

          @if $project-name == "tempo-automation" {

            &::before {
              content: '';
              display: block;
              width: 100%;
              min-height: 14 * $spacing-unit-v;
              margin-bottom: $spacing-unit * 2;
              border-radius: 4px;

              @if $project-color-4 {
                background-color: $project-color-4;
              } @else if $project-color-1 {
                background-color: $project-color-1;
              } @else {
                background-color: #fbfaf8;
              }

              background-image:
                // linear-gradient(rgba($project-color-1, .2) 20%,$project-color-1 80%),
                url(/assets/images/#{$project-name}/hero-thumb.png);
              background-image:
                // linear-gradient(
                  // rgba($project-color-1, .2) 20%,$project-color-1 80%),
                -webkit-image-set(
                  url(/assets/images/#{$project-name}/hero-thumb.webp) 1x,   url(/assets/images/#{$project-name}/hero-thumb@2x.webp) 2x,
                  url(/assets/images/#{$project-name}/hero-thumb.png) 1x,   url(/assets/images/#{$project-name}/hero-thumb@2x.png) 2x);
              background-image:
                // linear-gradient(
                  // rgba($project-color-1, .2) 20%,$project-color-1 80%),
                image-set(
                  url(/assets/images/#{$project-name}/hero-thumb.png) 1x,   url(/assets/images/#{$project-name}/hero-thumb@2x.png) 2x,
                  url(/assets/images/#{$project-name}/hero-thumb.webp) 1x,   url(/assets/images/#{$project-name}/hero-thumb@2x.webp) 2x);
                //   linear-gradient($project-color-1,$project-color-1);
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
            }
          } @else {
            &::before {
              content: '';
              display: block;
              width: 100%;
              min-height: 14 * $spacing-unit-v;
              margin-bottom: $spacing-unit * 2;
              border-radius: 4px;
              background-image:
                // linear-gradient(rgba($project-color-1, .2) 20%,$project-color-1 80%),
                url(/assets/images/#{$project-name}/hero-thumb.jpg);
              background-image:
                // linear-gradient(
                  // rgba($project-color-1, .2) 20%,$project-color-1 80%),
                -webkit-image-set(
                  url(/assets/images/#{$project-name}/hero-thumb.webp) 1x,   url(/assets/images/#{$project-name}/hero-thumb@2x.webp) 2x,
                  url(/assets/images/#{$project-name}/hero-thumb.jpg) 1x,   url(/assets/images/#{$project-name}/hero-thumb@2x.jpg) 2x);
              background-image:
                // linear-gradient(
                  // rgba($project-color-1, .2) 20%,$project-color-1 80%),
                image-set(
                  url(/assets/images/#{$project-name}/hero-thumb.jpg) 1x,   url(/assets/images/#{$project-name}/hero-thumb@2x.jpg) 2x,
                  url(/assets/images/#{$project-name}/hero-thumb.webp) 1x,   url(/assets/images/#{$project-name}/hero-thumb@2x.webp) 2x);
                //   linear-gradient($project-color-1,$project-color-1);
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }

        @media (min-width: 480px) {
          // flex: 0 0 45%;

          &:first-child {
            // flex: 0 0 100%;

            &::before {
              min-height: 24 * $spacing-unit-v;
            }
          }
        }

        @media (min-width: 720px) {
          // flex: 0 0 45%;

          &:first-child {
            // flex: 0 0 100%;

            &::before {
              min-height: 32 * $spacing-unit-v;
            }
          }
        }

        @media (min-width: 1280px) {
          // flex: 0 0 calc(90%/3);

          &:first-child {
            // flex: 0 0 100%;

            &::before {
              min-height: 48 * $spacing-unit-v;
            }
          }
        }
      }

      .tempo-automation::before {
        background-position-x: right;
      }

      &:hover {
        // background-color: rgba(255,255,255,.1);
        // box-shadow: 0px 0px 0px 12px rgba(255, 255, 255, 0.05);
      }
    }

    li:first-of-type {
      // display: flex;

      h2, .project-client {
        font-size: $font-scale-2;
        line-height: 1;
      }

      .project-client {
        font-family: $display-type;
      }
    }

    li:nth-of-type(n+2) {

      h2 {
        // font-size:
        line-height: 1.142;
      }

      .project-client {
        display: block;
        margin-bottom: $spacing-unit / 1.5;
        font-size: $font-scale-7;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-1;
      }
    }
  }

  footer.global .inner {
    @extend %column-width-wide;
  }
}
