.platform {
  margin-top: $spacing-unit-v * 2;
  & + * {
    margin-top: 0;
  }
}
.project-client {
  display: block;
  margin-top: $spacing-unit * 2;

  & + * {
    margin-top: 0;
  }
}

.project .project-list {
  li {
    border-top: 1px solid lightgray; // #9a9a9a;
    padding-bottom: 1em;
  }
  li:nth-child(n+2) {
    // margin-top: $spacing-unit-v * 2;
  }
}
