$project-colors: (
  (adsnative, rgba(#39c2a6, .6), rgba(#39c2a6, .5), #222c36),
  (localytics, rgba(74, 182, 129, .6), rgba(74, 182, 129, .5), #222c36),
  (audible, rgba(#e8a500, .8), rgba(#e8a500, .2),
    rgba(43, 31, 0, 1), #e8a500),
  (alloy, rgba(55, 127, 214, .6), rgba(55, 127, 214, .5), rgb(26, 26, 26), #212121),
  (inkling, rgba(0, 167, 126, .6), rgba(0, 167, 126, .5), rgb(28, 41, 38)),
  (hooch, rgba(#5c432f, .6), rgba(#534716, 0), #210205, #5c432f),
  (thomson-reuters, rgba(55, 127, 214, .6), rgba(55, 127, 214, .5), rgb(26, 26, 26)),
  //(hooch, rgba(#548c55, .7), rgba(#548c55, .5), #210205),
  (tempo-automation, rgba(#39c2a6, .6), rgba(#39c2a6, .5), #222c36)
);

.project-list {
  @extend %theme-dark;
  header .inner,
  main > * {
    @extend %column-width-wide;
  }
  .project-client {
    color: rgba(#fbfaf8, .5);
  }
  .project-description {
    color: rgba(#fbfaf8, .7);
  }
  .list-project {
    a {
      color: #FBFAF8;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    h2 {
      font-family: $display-type;
    }
    li {
      @each $project-name,$project-color-1,$project-color-2,$project-color-3,$project-color-4 in $project-colors {
        &.#{$project-name} {
          &::before {
            background-image:
              // linear-gradient(rgba($project-color-1, .2) 20%,$project-color-1 80%),
              url(/assets/images/#{$project-name}/hero-thumb.jpg);
            background-image:
              // linear-gradient(
                // rgba($project-color-1, .2) 20%,$project-color-1 80%),
              -webkit-image-set(
                url(/assets/images/#{$project-name}/hero-thumb.webp) 1x,   url(/assets/images/#{$project-name}/hero-thumb@2x.webp) 2x,
                url(/assets/images/#{$project-name}/hero-thumb.jpg) 1x,   url(/assets/images/#{$project-name}/hero-thumb@2x.jpg) 2x);
            background-image:
              // linear-gradient(
                // rgba($project-color-1, .2) 20%,$project-color-1 80%),
              image-set(
                url(/assets/images/#{$project-name}/hero-thumb.jpg) 1x,   url(/assets/images/#{$project-name}/hero-thumb@2x.jpg) 2x,
                url(/assets/images/#{$project-name}/hero-thumb.webp) 1x,   url(/assets/images/#{$project-name}/hero-thumb@2x.webp) 2x);
              //   linear-gradient($project-color-1,$project-color-1);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
          &::before {
            content: '';
            display: block;
            width: 100%;
            min-height: 14 * $spacing-unit-v;
            margin-top: $spacing-unit;
            margin-bottom: $spacing-unit * 2;
          }
        }
        @media (min-width: 480px) {
          // flex: 0 0 45%;
          &:first-child {
            // flex: 0 0 100%;
            &::before {
              min-height: 24 * $spacing-unit-v;
            }
          }
        }
        @media (min-width: 720px) {
          // flex: 0 0 45%;
          &:first-child {
            // flex: 0 0 100%;
            &::before {
              min-height: 32 * $spacing-unit-v;
            }
          }
        }
        @media (min-width: 1280px) {
          // flex: 0 0 calc(90%/3);
          &:first-child {
            // flex: 0 0 100%;
            &::before {
              min-height: 48 * $spacing-unit-v;
            }
          }
        }
      }
    }
    li:first-of-type {
      // display: flex;
      h2, .project-client {
        font-size: $font-scale-2;
        line-height: 1;
      }
      .project-client {
        font-family: $display-type;
      }
      @media (min-width: 1280px) {
        // flex-direction: row;
        // justify-content: space-between;
        // align-items: center;
        &::before {
          // flex: 0 0 ((90% / 3) * 2);
        }
        .project-metadata {
          // flex: 0 0 (90% / 3);
        }
      }
    }
    li:nth-of-type(n+2) {
      h2 {
        // font-size:
        line-height: 1.142;
      }
      .project-client {
        display: block;
        margin-bottom: $spacing-unit / 2;
        font-size: $font-scale-7;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-1;
      }
    }
  }
  footer.global .inner {
    @extend %column-width-wide;
  }
}
