blockquote {
  // Old styles
  // border-left: 1px solid lightgray;
  // margin-left: 0;
  // padding-left: 40px;

  // background-color: #f9f8f6; // #fbfaf8; //  Could be #f9f8f6 for better constrast.
  padding-left: 0;
  border: none;
  padding: 1rem 1.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-left: 4px solid #f9f8f6;
  font-size: $font-scale-5;

  & + blockquote {
    margin-top: -2rem;
  }

  cite {
    display: block;
    margin-top: $spacing-unit-v;
    font-size: $font-scale-6;
  }
}

.tempo-automation blockquote {
  color: #3e5152;

  cite {
    color: #646464;
  }
}