h1, h2, h3, h4, h5, h6 {
  color: #333;
  a, a:visited, a:active {
    // color: #333;
    // text-decoration: none;

  }
}

h1, %h1 {
  // font-size: calc(6vw + 1rem);
  font-family: 'Financier Display', georgia,'times new roman', times, serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: .9;
  // Sans
  // font-size: 2em;
  // font-weight: 800;
  // line-height: 1.2;
  @media (min-width: 480px)  {
    font-size: 5rem;
  }
}
h2, %h2 {
  font-size: 2rem;
  line-height: 1.4;
  margin-top: 4 * $spacing-unit;
  margin-bottom: $spacing-unit;
}
h3, %h3 {
  font-size: 1.325rem;
  font-weight: 700;
  margin-top: 4 * $spacing-unit;
  margin-bottom: $spacing-unit;

  & + h4 {
    margin-top: 1.33em;
  }
}
h4, %h4 {
  margin-top: 2 * 1.33em;
  margin-bottom: 1em;
}

p strong {
  color: #333;
}

.note {
  color: red;
}
