h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h1, h2, h3 {
  -webkit-font-smoothing: antialiased;
}

h1, %h1 {
  // font-size: calc(6vw + 1rem);
  font-family: 'Financier Display', georgia,'times new roman', times, serif;
  font-size: $font-scale-2;
  font-weight: 700;
  line-height: 1;
  // Sans
  // font-size: 2em;
  // font-weight: 800;
  // line-height: 1.2;
  @media (min-width: 480px)  {
    font-size: $font-scale-1;
  }
}

h2, %h2 {
  font-size: $font-scale-3;
  line-height: 1.4;
  margin-top: 4 * $spacing-unit;
  margin-bottom: $spacing-unit;
}

h3, %h3 {
  font-size: $font-scale-5;
  font-weight: 700;
  margin-top: 3 * $spacing-unit-h;
  margin-bottom: $spacing-unit-h;

  & + h4 {
    margin-top: 1.33em;
  }

  & + blockquote {
    margin-top: 2rem;
  }
}

h4, %h4 {
  margin-top: 2 * 1.33em;
  margin-bottom: 1em;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  
  strong {
    color: #333;
  }
}

.note {
  color: red;
}
