{% comment %}
{% assign fig_class = 'fullbleed' %}
{% assign project = 'hooch' %}
{% assign img_src = 'hooch-placeholder' %}
{% assign img_ext1 = 'png' %}
{% assign img_ext2 = 'webp' %}
{% assign img_alt = '' %}
{% assign fig_cap = '' %}
{% assign project = 'hooch' %}
{% endcomment %}



<figure 
  class="{{ include.fig_class | default:'fullbleed' }}" 
  {% if bg_color != nil %} 
    style="background-color: {{ bg_color | default:'white' }};" 
  {% endif %}>

  {% comment %} 
    Add conditional to cover if img_alt is null or empty 
  {% endcomment %}

  {% if project.size != 0 %}

    {% if include.img_ext2 == 'none' %}
    <img 
      srcset="
        /assets/images/{{ include.project }}/{{ include.img_src | default:'sample' }}.{{ include.img_ext1 | default:'png' }} 1x, 
        /assets/images/{{ include.project }}/{{ include.img_src | default:'sample' }}@2x.{{ include.img_ext1 | default:'png' }} 2x" 
      src="
        /assets/images/{{ include.project }}/{{ include.img_src | default:'sample' }}.{{ include.img_ext1 | default:'png' }}" 
      {% if img_alt.size != 0 %}
        alt="{{ include.img_alt | default:'' }}" 
      {% endif %}
    >

    {% elsif 
      include.img_ext1 == 'png' or 
      include.img_ext1 == 'jpg' %}
    <img 
      srcset="
        /assets/images/{{ include.project }}/{{ include.img_src | default:'sample' }}.{{ include.img_ext1 | default:'png' }} 1x, 
        /assets/images/{{ include.project }}/{{ include.img_src | default:'sample' }}@2x.{{ include.img_ext1 | default:'png' }} 2x" 
      src="/assets/images/{{ include.project }}/{{ include.img_src | default:'sample' }}.{{ include.img_ext1 | default:'png' }}" 
      alt="{{ include.img_alt | default:'' }}" >

    {% elsif include.img_ext1 == 'svg' %}
    <img 
      src="/assets/images/{{ include.project }}/{{ include.img_src | default:'sample' }}.{{ include.img_ext1 | default:'png' }}" 
      alt="{{ include.img_alt | default:'' }}" >

    {% endif %}

  {% elsif project.size == 0 %}
  <img 
    srcset="
      /assets/images/{{ include.img_src | default:'sample' }}.{{ img_ext1 | default:'jpg' }} 1x, 
      /assets/images/{{ include.img_src | default:'sample' }}@2x.{{ img_ext1 | default:'jpg' }} 2x, 
      /assets/images/{{ include.img_src | default:'sample' }}.{{ img_ext2 | default:'webp' }} 1x, 
      /assets/images/{{ include.img_src | default:'sample' }}@2x.{{ img_ext2| default:'webp' }} 2x" 
    src="/assets/images/{{ include.img_src | default:'sample' }}.{{ img_ext1 | default:'jpg' }}" 
    alt="{{ include.img_alt | default:'' }}" >

  {% endif %}

  {% comment %}
  {{ include.fig_cap | default:'' }}
  {{ include.fig_cap.size }}
  {% if fig_cap.size > 0 %}
  <span class="note">
    {{ include.fig_cap | default:'' }}
    {{ include.fig_cap.size }}
  </span>
  {% endif %}
  {% endcomment %}

  {% if fig_cap.size != 0 %}
  <figcaption><p>{{ include.fig_cap }}</p></figcaption>
  {% else %}
  <span class="note">Figcaption length is zero.</span>
  {% endif %}

</figure>

{% comment %}
<!-- Old img code. -->
<figure class="{{ include.fig_class }}">
  {% if project.size != 0 %}
  <img 
    srcset="
      /assets/images/{{ include.project }}/{{ include.img_src }}.png 1x, 
      /assets/images/{{ include.project }}/{{ include.img_src }}@2x.png 2x, 
      /assets/images/{{ include.project }}/{{ include.img_src }}.webp 1x, 
      /assets/images/{{ include.project }}/{{ include.img_src }}@2x.webp 2x" 
    src="/assets/images/{{ include.project }}/{{ include.img_src }}.png" 
    alt="" >

  {% if fig_cap.size != 0 %}
  <figcaption><p>{{ include.fig_cap }}{{ include.img_ext1 }}</p></figcaption>
  {% endif %}
  {% endif %}
</figure>

<img
  {% if img_alt.size != 0 %}
  alt="{}"
  {% endif %}

  data-sizes="auto"
  data-srcset="https://cdn.jsdelivr.net/gh/akyndofgreanishlite/upgraded-pancake/assets/images/{{ include.project }}/{{ include.img_src }}.png 500w,
    https://cdn.jsdelivr.net/gh/akyndofgreanishlite/upgraded-pancake/assets/images/{{ include.project }}/{{ include.img_src }}@2x.png 640w,
    https://cdn.jsdelivr.net/gh/akyndofgreanishlite/upgraded-pancake/assets/images/{{ include.project }}/{{ include.img_src }}@3x.png 1024w"
  data-src="medium"
  class="lazyload" />

<img
  data-srcset="/assets/images/{{ include.project }}/{{ include.img_src }}.png?w=1280&amp;q=50 640w,
							 /assets/images/{{ include.project }}/{{ include.img_src }}.png?w=920&amp;q=50 480w,
							 /assets/images/{{ include.project }}/{{ include.img_src }}.png?w=600&amp;q=50 300w"
  src="        /assets/images/{{ include.project }}/{{ include.img_src }}.png?w=300&amp;blur=100"
  data-sizes=" 100vw"
  alt="        Abstract"
  class="      full lazyloaded"
  sizes="      100vw"
  srcset="     https://ftc.imgix.net/design/abstract/abstract-thumbnail-3x.jpg?w=1280&amp;q=50 640w,
    				   https://ftc.imgix.net/design/abstract/abstract-thumbnail-3x.jpg?w=920&amp;q=50 480w,
    				   https://ftc.imgix.net/design/abstract/abstract-thumbnail-3x.jpg?w=600&amp;q=50 300w">

{% endcomment %}
