---
layout: compress
---

{% capture html %}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="
    {% if page.version %}
      {{ page.version}}
    {% endif %}
    {% if page.client %}
      {{ page.client | slugify }}
    {% endif %}
    {% if page.project %}
      {{ page.project | slugify }}
    {% endif %}
    {% if page.body_class %}
      {{ page.project | slugify }}
    {% endif %}">

  <h1>{{ include.body_class }}</h1>
  <h1>{{ page.body_class }}</h1>

  {% include header.html %}

  <main>

    {{ content }}

  </main>

  {% include footer.html %}

  </body>

</html>

{% endcapture %}{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}
