---
layout: compress
---

{% capture html %}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="home">

  <header class="global" role="banner">
    <div class="inner">
      <a class="site-title" href="/">Jameson Tyler</a>
      <div class="pull-right">
        {% comment %}
        <a class="resume" href="{{ site.resume_pdf }}">Resume</a>
        {% endcomment %}
      </div>
    </div>
  </header>

  <main>

    {{ content }}

  </main>
  </body>

</html>

{% endcapture %}{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}
